$color-white: rgb(255, 255, 255);
$color-black: #000000;
$acent-color: #fb2e86;
$primary-color: #151875;
$secondary-color: #2F1AC4;
$dark-color: #1f242b;
$gradient: linear-gradient(121.53deg, #F3F9FF 0%, #F1F0FF 100%);
$text-color: #151875;
$text-color-dark: #201f1f;
$text-color-light: #ffffff;
$sub-text-color: #8a8fb9;
// $text-color-secondary: #f59f00;
$font-family-Josefin: 'Josefin Sans', sans-serif;
$font-family-Lato: 'Lato', sans-serif;