.btn-acent {
    font-family: $font-family-Josefin;
    font-weight: 600;
    font-size: 17px;
    padding: 16px 40px;
    color: $text-color-light;
    background-color: $acent-color;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
}