.inicio-bg {
    background-color: #F2F0FF;
    height: 80vh;
}

.inicio {
    display: flex;
    .box-container {
        width: 50%;
        padding-top: 203px;
        .p-acent {
            color: $acent-color;
            padding-bottom: 12px;
        }
        h1 {
            margin-top: 0px;
        }
        p {
            font-size: 16px;
            color: $sub-text-color;
            font-weight: 700;
            padding-bottom: 27px;
        }
    }
    .img-container {
        @include display-flex(center, center);
        img {
            width: 70%;
            padding: 40px 0 40px 0px;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column-reverse;
        .box-container {
            width: 100%;
            padding-top: 50px;
        }
        .img-container {
            img {
                width: 100%;
                padding: 20px;
            }
        }
    }
}