.product-card-small {
    width: 270px;
    height: 390px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    border-radius: 2px;
    margin: 15px;
    .product-options {
        background: #F6F7FB;
        position: relative;
        top: 0px;
        z-index: 1;
        .cart-icon-container {
            width: 45px;
            height: 45px;
            border-radius: 100px;
            @include display-flex(center, center);
            position: relative;
            top: 11px;
            left: 11px;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: #F6F7FB;
            .cart-icon {
                height: 24px;
                width: 24px;
            }
        }
    }
    .product-img {
        position: relative;
        top: -24px;
        width: 100%;
        height: 236px;
        background: #F6F7FB;
        @include display-flex(center, center);
        img {
            width: 60%;
        }
    }
    .product-info {
        @include display-flex(center, center);
        flex-direction: column;
        .product-title {
            font-weight: 700;
            font-size: 18px;
            color: $acent-color;
            padding-top: 0px;
        }
        .product-cod {
            font-family: $font-family-Josefin;
            font-size: 14px;
            color: $text-color;
            padding-top: 16px;
        }
        .product-price {
            font-size: 14px;
            color: $text-color;
            padding-top: 12px;
        }
    }
    &:hover {
        background-color: $secondary-color;
        transition: all 0.30s ease;
        .product-info {
            .product-cod,
            .product-price {
                color: $text-color-light;
                transition: all 0.30s ease;
            }
        }
        .product-options {
            .cart-icon-container {
                background-color: #e5ebf1;
                transition: all 0.3s ease;
            }
        }
    }
}